<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SmtpServerConfiguration"
            type="TopCalendar.UI.Modules.Notifier.Services.EmailNotifier.SmtpServerConfigurationSection,TopCalendar.UI.Modules.Notifier"
             />
  </configSections>
  <!--Todo: podac haslo-->
  <SmtpServerConfiguration
   Host="smtp.gmail.com"
   Port="587"
   EnableSsl="true"
   UserName="piotr.mionskowski@gmail.com"   
   Password="" />

</configuration>