<?xml version="1.0" encoding="utf-8" ?>
<modules>
	<module
		assemblyFile="../../../TopCalendar.UI.Modules.Plugins/obj/Debug/TopCalendar.UI.Modules.Plugins.dll"
		moduleType="TopCalendar.UI.Modules.Plugins.PluginsModule, TopCalendar.UI.Modules.Plugins"
		moduleName="PluginsModule" />
	<module 
		assemblyFile="../../../TopCalendar.UI.Modules.MonthViewer/obj/Debug/TopCalendar.UI.Modules.MonthViewer.dll" 
		moduleType="TopCalendar.UI.Modules.MonthViewer.MonthViewerModule, TopCalendar.UI.Modules.MonthViewer"
		moduleName="MonthViewerModule" />
	<module
		assemblyFile="../../../TopCalendar.UI.Modules.Registration/obj/Debug/TopCalendar.UI.Modules.Registration.dll"
		moduleType="TopCalendar.UI.Modules.Registration.RegistrationModule, TopCalendar.UI.Modules.Registration"
		moduleName="RegistrationModule" />
	<module
		assemblyFile="../../../TopCalendar.UI.Modules.TaskViewer/obj/Debug/TopCalendar.UI.Modules.TaskViewer.dll"
		moduleType="TopCalendar.UI.Modules.TaskViewer.TaskViewerModule, TopCalendar.UI.Modules.TaskViewer"
		moduleName="TaskViewerModule" />
	<module
		assemblyFile="../../../TopCalendar.UI.Modules.WeekViewer/bin/Debug/TopCalendar.UI.Modules.WeekViewer.dll"
		moduleType="TopCalendar.UI.Modules.WeekViewer.WeekViewerModule,TopCalendar.UI.Modules.WeekViewer"
		moduleName="WeekViewerModule" />
  <module
		assemblyFile="../../../TopCalendar.UI.Modules.Notifier/bin/Debug/TopCalendar.UI.Modules.Notifier.dll"
		moduleType="TopCalendar.UI.Modules.Notifier.NotifierModule,TopCalendar.UI.Modules.Notifier"
		moduleName="NotifierModule" />
</modules>