<?xml version="1.0" encoding="utf-8" ?>
<PluginsConfiguration>
	<Plugin Assembly="../../../TopCalendar.UI.Modules.MonthViewer/obj/Debug/TopCalendar.UI.Modules.MonthViewer.dll" Active="True" />
	<Plugin Assembly="../../../TopCalendar.UI.Modules.Registration/obj/Debug/TopCalendar.UI.Modules.Registration.dll" Active="True" />
  <Plugin Assembly="../../../TopCalendar.UI.Modules.TaskViewer/obj/Debug/TopCalendar.UI.Modules.TaskViewer.dll" Active="True" />
</PluginsConfiguration>
