<?xml version="1.0" encoding="utf-8" ?>
<modules>
	<module 
		assemblyFile="../../../TopCalendar.UI.Modules.MonthViewer/obj/Debug/TopCalendar.UI.Modules.MonthViewer.dll" 
		moduleType="TopCalendar.UI.Modules.MonthViewer.MonthViewerModule, TopCalendar.UI.Modules.MonthViewer"
		moduleName="MonthViewerModule" />
	<module
		assemblyFile="../../../TopCalendar.UI.Modules.Registration/obj/Debug/TopCalendar.UI.Modules.Registration.dll"
		moduleType="TopCalendar.UI.Modules.Registration.RegistrationModule, TopCalendar.UI.Modules.Registration"
		moduleName="RegistrationModule" />
	<module
		assemblyFile="../../../TopCalendar.UI.Modules.TaskViewer/obj/Debug/TopCalendar.UI.Modules.TaskViewer.dll"
		moduleType="TopCalendar.UI.Modules.TaskViewer.TaskViewerModule, TopCalendar.UI.Modules.TaskViewer"
		moduleName="TaskViewerModule" />
</modules>